:80 {
  encode zstd gzip

  handle /api/* {
    reverse_proxy cms_app:3000 {
      health_uri /api/health
      health_interval 10s
      health_timeout 5s
      health_status 2xx
    }
  }

  # MinIO 对象存储代理（HTTP 模式）
  handle /media/* {
    reverse_proxy minio:9000
  }

  handle {
    root * /site
    try_files {path} /index.html
    file_server
  }
}

# MinIO 对象存储代理（HTTPS 模式，自签证书）
:443 {
  encode zstd gzip

  tls /ssl/cert.pem /ssl/key.pem

  handle /api/* {
    reverse_proxy cms_app:3000 {
      health_uri /api/health
      health_interval 10s
      health_timeout 5s
      health_status 2xx
    }
  }

  handle /media/* {
    reverse_proxy minio:9000
  }

  handle {
    root * /site
    try_files {path} /index.html
    file_server
  }
}

# MinIO 管理控制台代理
:9001 {
  reverse_proxy minio:9001
}
